@import "tailwindcss";

html {
  height: 100%;
}

body {
  height: 100%;
  /* Previene que iOS haga scroll cuando aparece el teclado virtual */
  position: fixed;
  width: 100%;
  overflow: hidden;
}
